{% extends 'app/base.html' %} 
{% load static %}
{% block title %}About{% endblock title %}

{% block main-content %}
<div class="container mt-3">
    <br><br><br>
    <h2 class="text-center">About Us</h2>
    <br>
    <div class="row container">
        <p class="fs-4 text-center">
        MegPeon is an online gift shop that specializes in providing unique and thoughtful gifts for all occasions. 
        </p>
    </div>
    <br><br>
    <h2 class="text-center">Mission</h2>
    <br>
    <div class="row container">
        <p class="fs-4 text-center">
            Our mission is to make gift giving easy and enjoyable for everyone. We strive to provide our customers with the best selection of gifts, from the most popular brands to the most unique and creative items. We also offer a wide range of customization options, so you can create a truly unique gift for your loved ones.
        </p>
    </div>
    <br><br>
    <h2 class="text-center">Our Team</h2>
    <br>
    <div class="row container">
        <p class="fs-4 text-center">
            The team behind the online gift shop is comprised of four individuals with a wide range of qualifications and experience. 

            The first team member is the shop manager, who has a degree in business management and over 10 years of experience in retail management. They are responsible for overseeing the day-to-day operations of the shop, including customer service, inventory management, and marketing. 

            The second team member is the web developer, who has a degree in computer science.
        </p>
    </div>
    <br><br>
</div>
{% endblock main-content %}