{% extends 'app/base.html' %} 
{% load static %}
{% block title %}Contact{% endblock title %}

{% block main-content %}
<div class="container mt-3">
    <br><br><br>
    <h2 class="text-center">Contact Us</h2>
    <br>
    <div class="row container">
        <p class="fs-4 text-left">Address: KA/3, Road# 20, Block# D, Mirpur# 6, Dhaka, Bangladesh, 1216</p>
        <p class="fs-4 text-left">Phone: +880 1323-898877</p>
        <p class="fs-4 text-left">Email: meghpeonshop@gmail.com</p>
    </div>
</div>
{% endblock main-content %}