.goodnesssec img{
    width: 100%;
}

.smbg{
    background-color: #fff; background-image: linear-gradient(#fff7ef, #fff);
    padding: 50px 40px;
    border: 2px solid #ffff;
    padding-bottom: 20px;
}
.curdbgpro{
    background-color: #fff; background-image: linear-gradient(#fff7ef, #fff);
    padding: 50px 40px;
    border: 2px solid #ffff;
    padding-bottom: 20px;
}
.buttermilk{
    background-color: #fff; background-image: linear-gradient(#fff7ef, #fff);
    padding: 50px 40px;
    border: 2px solid #ffff;
    padding-bottom: 20px;
}